<div class="bg-black w-full flex flex-col items-center mx-auto min-h-screen py-20 ">
    <div class="flex flex-col w-full justify-center max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="text-white flex flex-col justify-center items-center text-center space-y-4 mb-8">
        <h2 class="text-4xl font-bold">Contatos</h2>
      </div>
      
      <div class="w-full text-white flex flex-col items-center ">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
          <div class="photo-container">
            
          </div>
          <div class="photo-container">
           
          </div>
          <div class="photo-container">
            
          </div> 
        </div>
      </div>
    </div>
  </div>