<div class="bg-black w-full h-screen flex items-center mx-auto">
    <div class="flex flex-col lg:flex-row w-full h-full">
      <div class="basis-full lg:basis-1/2 text-white flex flex-col justify-center pl-8 lg:pl-80 space-y-4">
        <p class="text-2xl">Olá,</p>
        <p class="text-3xl">Eu sou Caio Henrique</p>
        <p class="text-lg">Seja bem-vindo ao meu portfólio</p>
        <div class="flex flex-row gap-x-5 pl-10">
            <div class="decoration"></div>
            <div class="decoration"></div>
            <div class="decoration"></div> 
        </div>
         
      </div>
      <div class="basis-full lg:basis-1/2 text-white flex justify-center items-center">
        <div class="photo-container">
          <img  width="50%" height="50%" src="assets/lo.png" alt="">
        </div>
      </div>
    </div>
  </div>
  