<div class="bg-black w-full h-screen flex flex-col text-white justify-center items-center gap-8">

  <p class="text-4xl color">Projetos</p>
  
  <div class=" grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-4xl px-14 w-full h-screen  ">
    <div class="cards"><app-cards-projects></app-cards-projects></div>
    <div class="cards"><app-cards-projects></app-cards-projects></div>
    <div class="cards"><app-cards-projects></app-cards-projects></div>
    <div class="cards"><app-cards-projects></app-cards-projects></div>
    
    
  </div>
</div>
