.cards {
    width: 100%;
    max-width: 350px;
    min-height: 250px; 
    padding: 1rem; 
}

@media (max-width: 1024px) {
    .cards {
        max-width: 300px;
        min-height: 220px;
    }
}

@media (max-width: 768px) {
    .cards {
        max-width: 100%;
        min-height: auto;
        height: auto;
    }
}
