<div class="bg-black w-full min-h-screen flex flex-col text-white justify-center items-center gap-8">
  <p class="text-4xl">Projetos</p>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-4xl px-14">
    <div class="cards w-full max-w-xs md:max-w-sm min-h-[12rem]">
      <app-cards-projects></app-cards-projects>
    </div>
    <div class="cards w-full max-w-xs md:max-w-sm min-h-[12rem]">
      <app-cards-projects></app-cards-projects>
    </div>
    <div class="cards w-full max-w-xs md:max-w-sm min-h-[12rem]">
      <app-cards-projects></app-cards-projects>
    </div>
    <div class="cards w-full max-w-xs md:max-w-sm min-h-[12rem]">
      <app-cards-projects></app-cards-projects>
    </div>
  </div>
</div>
