.card {

    height: 235x;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}

#card-center {
    height: 252px;
    background-color: transparent;
}

.card-par{
    background-color: #0f79ba;
}
.card-impar{
    background-color: transparent;
}

@media (min-width: 640px) {
    .card, #card-center {
        width: 250px;
    }
}